<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("nav") %>
    <section class="login">
        <div class="container">
            <form action="/user/login" method="post">
                <input type="email" name="email" placeholder="email"><br><br>
                <input type="text" name="password" placeholder="password"><br><br>
                <input type="submit" value="Login"><br><br>
            </form>
        </div>
    </section>
</body>
</html>